<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/blobloticket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPAPB"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menambahkan definisi LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <!-- Intent filter jika diperlukan -->
        </activity>

        <!-- Menambahkan definisi HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false">
            <!-- Intent filter jika diperlukan -->
        </activity>

        <!-- Menambahkan definisi DetailActivity -->
        <activity
            android:name=".DetailActivity"
            android:exported="false">
            <!-- Intent filter jika diperlukan -->
        </activity>
        <activity
            android:name=".TicketPaymentActivity"
            android:exported="false">
            <!-- Intent filter jika diperlukan -->
        </activity>
        <activity
            android:name=".TransaksiOrderActivity"
            android:exported="false">
            <!-- Intent filter jika diperlukan -->
        </activity>
    </application>

</manifest>
